<section class="content-header">
  <h1>
    Sprints
   <small><button ng-show="user_id == owner" class="btn" name="button" data-toggle="modal" data-target="#myModal">New sprint</button></small>
  </h1>
</section>

<section class="content" id="sprints" >

<div class="row">
  <div class="col-md-12">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li ng-class="{active: sprint.active}" ng-click="select_sprint($index)" ng-repeat="sprint in sprints"><a href="#/{{projet_id}}" >Sprint {{$index + 1}}</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" >
          <b>Description:</b>
          <p>{{ sprint.description }}</p>
          <b>Start :</b>
          <p>{{ sprint.date_debut | date:'dd - MM - yyyy'}}</p>
          <b>End :</b>
          <p>{{ sprint.date_fin | date:'dd - MM - yyyy'}}</p>

        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->

      <div class="gantt">

      </div>

      <div class="">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Tasks</h3>
            <div class="box-tools">
                <small><button ng-show="user_id == owner" class="btn" name="button" data-toggle="modal" data-target="#myModal2" ng-disabled="!sprint.last">New task</button></small>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody><tr>
                <th>Titles</th>
                <th>Start</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Status</th>
                <th>Ressource</th>
              </tr>
              <tr ng-repeat="tache in sprint.taches">
                <td>{{ tache.titre }}</td>
                <td>{{ tache.date_debut | date:'dd - MM - yyyy'}}</td>
                <td>{{ tache.dure }}</td>
                <td>{{ tache.description }}</td>
                <td><span class="label label-success">{{ tache.etat }}</span></td>
                <td><select class="form-control" ng-change="assign_task(tache)" ng-model="tache.assignee" ng-disabled="tache.assignee || !sprint.last">
                  <option value="">------</option>
                  <option ng-repeat="r in projet.contributeurs" value="{{r._id}}">{{ r.nom}} {{ r.prenom }}</option>
                </select></td>
              </tr>
            </tbody></table>
          </div><!-- /.box-body -->
        </div>
      </div>
    </div><!-- nav-tabs-custom -->
  </div><!-- /.col -->
</div>

<div class="example-modal">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">New sprint</h4>
        </div>
        <div class="modal-body">
            <!-- form start -->
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Date Debut</label>
                <input type="date" ng-model="nsprint.date_debut" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre de jours</label>
                <input type="number" min="3" ng-model="nsprint.nbr_jour" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ng-model="nsprint.description" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div><!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="add_sprint()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>


<div class="example-modal">
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">New task</h4>
        </div>
        <div class="modal-body">
            <!-- form start -->
          <form role="form">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" ng-model="ntache.titre" class="form-control" id="exampleInputEmail1">
              <div class="form-group">
              </div>
                <label for="exampleInputEmail1">Date Debut</label>
                <input type="date" ng-model="ntache.date_debut" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombre de jours</label>
                <input type="number" min="3" ng-model="ntache.dure" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" ng-model="ntache.description" rows="3" placeholder="Enter ..."></textarea>
              </div>
            </div><!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="add_task()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

</section>
