  <section class="content-header">
    <h1>
      Projects
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6" ng-repeat="projet in projets">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4>{{ projet.titre }}</h4>
            <p>{{ projet.date_debut | date:'dd - MM - yyyy' }} to {{ projet.date_fin | date:'dd - MM - yyyy' }} </p>
          </div>
          <a href="../projet/#/{{projet._id}}" class="small-box-footer">More info<i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->

      <!-- small box -->
      <div class="col-lg-3 col-xs-6" onclick="location.href='#/addproject'">
        <div class="small-box new-project-box bg-black" style="height: 132px;">
          <div class="add-project-icon">
            <i class="ion ion-plus"></i>
          </div>
          <a href="#/addproject" class="small-box-footer">New Project <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
    </div>
</section><!-- /.content
