  <section class="content-header">
    <h1>
      Projects
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h4>E-Commerce website</h4>
            <p>10/12/2015 to 01/02/2016 </p>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h4>Co-voiturage</h4>
            <p>10/12/2015 to 01/02/2016 </p>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h4>E-learning</h4>
            <p>10/12/2015 to 01/02/2016 </p>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h4>Stock management platform</h4>
            <p>10/12/2015 to 01/02/2016 </p>
          </div>
          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->

        <!-- small box -->
      <div class="col-lg-3 col-xs-6" onclick="location.href='#/addproject'">
        <div class="small-box new-project-box bg-black" style="height: 132px;">
          <div class="add-project-icon">
            <i class="ion ion-plus"></i>
          </div>
          <a href="#/addproject" class="small-box-footer">New Project <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
    </div>
</section><!-- /.content
